<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Count occurrences of the Query string in the Message (ignore space): <strong>{{ currentCount }}</strong></p>

<p aria-live="polite">Count occurrences Query string in the Message in reverse: <strong>{{ reverseCount }}</strong></p>

<p aria-live="polite">The count of palindromes in the Message: <strong>{{ palindromeCount }}</strong></p>

<!--<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->
